//Contenedor principal
.content {
    width: 100%;
    height: auto;
}

// Responsives

@media (max-width: 1024px) {
    .content {
      width: 30%;
    }
  }
  
  @media (max-width: 768px) {
    .content {
      width: 40%;
    }
  }
  
  @media (max-width: 425px) {
    .content {
      width: 70%;
    }
  }
  
  @media (max-width: 375px) {
    .content {
      width: 80%;
    }
  }
  
  @media (max-width: 320px) {
    .content {
      width: 86%;
    }
  }