  //-------------------------------------card-------------------------------------------------
  .card {
    display: block;
    width: 28%;
    margin: 20px auto;
    border: 1px solid orange;

    &:hover {
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 2px 10px 1px rgba(0, 0, 0, 0.13), 0 3px 12px 2px rgba(0, 0, 0, 0.1);
    }

    .imagen {
      display: block;
      float: left;
      width: 28%;
      height: auto;
    }
    .cardb {
      padding: 2%;
      width: 72%;
      height: auto;
      display: flex;
      flex-direction: column;

      .precio-agregar {
        margin-top: auto;
        display: flex;
        justify-content: space-between;

        .precio {
          margin: unset;
        }
      }
      .titulo {
        margin-bottom: auto;
        color: black;
      }
      .des {
        margin-top: auto;
        margin-bottom: auto;
      }
      .btn-group.btn-group-toggle {
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 4px;
        margin-top: auto;
        margin-bottom: auto;

        .btn.btn-secondary {
          height: 20px;
          color: black;
          background-color: white;
          border: none;
          p {
            margin-top: -8.7px;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
  //-------------------------------------card-------------------------------------------------
