$color-principal: #ff9200;
$color-ayuda: #BCBCBC;
$color-secundario: #707070;
$color-terciario: #757575;
$color-input: rgba(180, 180, 180, 0.2);

.content{
    display: block;
    width: 100%;
    height: auto;
    padding: 10px;
//-------------------------------------buscador-------------------------------------------------
    .input-group{
        margin-bottom: 10px !important;

        .form-control{
            background-color: $color-input !important;
            border-radius: 5px !important;
            border: none;
            height: 50px;
            // icono
            background: url(src/iconos/lupa.svg) no-repeat;
            background-position: 95%;
            // texto
            text-decoration-line: none !important;
            color: $color-secundario;
            font-size: 14px;
            font-family: "Roboto", sans-serif;
            font-weight: 200;
            // texto

            &:hover {
                box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 2px 10px 1px rgba(0, 0, 0, 0.13), 0 3px 12px 2px rgba(0, 0, 0, 0.1);
            }
        }
        button{
            border-color: rgba(255, 255, 255, 0);
            &:hover {
                border-color: rgba(255, 255, 255, 0) !important;
                background-color: rgba(255, 255, 255, 0) !important;
                box-shadow: unset;
            }
        }
//-------------------------------------buscador-------------------------------------------------
//-------------------------------------boton-------------------------------------------------
        #btn-regresar{
            padding-top: 5px !important;
            padding-bottom: 5px !important;
            padding-left: 15px !important;
            padding-right: 15px !important;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 100%;
        }
    }
//-------------------------------------boton-------------------------------------------------
//-------------------------------------card-------------------------------------------------
    .card{
        flex-direction: unset;
        width: 100%;
        height: min-content;
        margin-bottom: 10px;

        &:hover {
            box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
            0 2px 10px 1px rgba(0, 0, 0, 0.13), 0 3px 12px 2px rgba(0, 0, 0, 0.1);
        }

        #imagen{
            display: block;
            float: left;
            width: 25%;
            height: auto;
        }
        #cardb{
            padding: 1%;
            width: 75%;
            height: auto;
            display: flex;
            flex-direction: column;
        
            #precio-agregar{
                margin-top: auto;
                display: flex;
                justify-content: space-between;
    
                #precio{
                    margin: unset;
                }
            }#titulo{
                margin-bottom: auto;
            }#des{
                margin-top: auto;
                margin-bottom: auto;
            }
            .btn-group.btn-group-toggle {
                border: 1px solid rgba(0,0,0,.125);
                border-radius: 4px;
                margin-top: auto;
                margin-bottom: auto;
                
                .btn.btn-secondary {
                    height: 20px;
                    color: black;
                    background-color: white;
                    border: none;
                  p {
                    margin-top: -8.7px;
                    margin-bottom: 1rem;
                  }
                }
            }
        }
        
    }
//-------------------------------------card-------------------------------------------------
}

// @media (max-width: 480px) {
//     .content{
//         width: max-content;
//     }
//   }