
.content {
    display: block;
    width: 100%;
    height: 600px;
    text-align: center;
    margin: 20px auto;
    //-------------------------------------buscador-------------------------------------------------
    .input-group {
        margin-bottom: 0px !important;
        padding: 10px;
        text-align: center;
        .form-control {
            background-color: var(--color-input) !important;
            border-radius: 5px !important;
            border: none;
            height: 50px;
            // icono
            background: url(src/iconos/lupa.svg) no-repeat;
            background-position: 95%;
            // texto
            text-decoration-line: none !important;
            color: var(--color-secundario);
            font-size: 14px;
            font-family: "Roboto", sans-serif;
            font-weight: 200;
            // texto

            &:hover {
                box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 2px 10px 1px rgba(0, 0, 0, 0.13),
                    0 3px 12px 2px rgba(0, 0, 0, 0.1);
            }
        }
        button {
            border-color: rgba(255, 255, 255, 0);
            &:hover {
                border-color: rgba(255, 255, 255, 0) !important;
                background-color: rgba(255, 255, 255, 0) !important;
                box-shadow: unset;
            }
        }
    }
}
