//-------------------------------CONTENEDOR----------------------------------------------------------
.content {
  width: 100%;
  height: auto;

  .clearfix {
    clear: both;
    float: none;
  }

  //-------------------------------------buscador-------------------------------------------------
  .input-group {
    margin-bottom: 0px !important;
    padding: 10px;
    text-align: center;
    .form-control {
      background-color: var(--color-input) !important;
      border-radius: 5px !important;
      border: none;
      height: 50px;
      // icono
      background: url(src/iconos/lupa.svg) no-repeat;
      background-position: 95%;
      // texto
      text-decoration-line: none !important;
      color: var(--color-secundario);
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      font-weight: 200;
      // texto

      &:hover {
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 2px 10px 1px rgba(0, 0, 0, 0.13),
          0 3px 12px 2px rgba(0, 0, 0, 0.1);
      }
    }
    #des {
      margin-top: auto;
      margin-bottom: auto;
    }
    .btn-group.btn-group-toggle {
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 4px;
      margin-top: auto;
      margin-bottom: auto;

      .btn.btn-secondary {
        height: 20px;
        color: black;
        background-color: white;
        border: none;
        p {
          margin-top: -8.7px;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .content {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .content {
    width: 40%;
  }
}

@media (max-width: 425px) {
  .content {
    width: 70%;
  }
}

@media (max-width: 375px) {
  .content {
    width: 80%;
  }
}

@media (max-width: 320px) {
  .content {
    width: 86%;
  }
}
