<!------------------------------- MENU PRINCIPAL ---------------------------------------->
<div class="content" [hidden]="condicion != 'menu_principal'">


  <!------------------------------- PLATOS DE MENÚ PRINCIPAL ---------------------------------------->

</div>
<!------------------------------- FIN MENU PRINCIPAL ---------------------------------------->

<!------------------------------- INICIO AÑADIR PLATO -------------------------------------->
<div
  class="content agregar_plato"
  [hidden]="condicion != 'vista_agregar_plato'"
>
  <div class="lateral">
    <div class="imagen">
      <img src="https://picsum.photos/344/194" alt="menu_principal" />
    </div>
    <h2 class="textoSecundario">
      NOMBRE DEL RESTAURANTE
    </h2>

    <nav class="menu">
      <ul class="textoSecundario">
        <li>Menú</li>
        <li>Mesas - códigos QR</li>
        <li>Cerrar sesión</li>
      </ul>
    </nav>
    <div class="clearfix"></div>
  </div>

  <!--------------------- AÑADIR NUEVO PLATO ----------------------->

  <section class="nuevo_plato">
    <h2 class="textoPrimario">NUEVO PLATO</h2>
    <div id="box-inputs">
      <input type="text" placeholder="Nombre del plato" /> <br />
      <textarea
        id="Descripcion"
        cols="40"
        rows="5"
        placeholder=" Descripción del plato"
      ></textarea>
      <br />
      <input type="number" placeholder="Precio del plato" /> <br />
      <input type="file" value="Subir imagen" /> <br />
      <input type="submit" class="btn-primary" value="Crear plato" /> <br />
    </div>
    <div class="clearfix"></div>
  </section>

  <!--------------------- FIN AÑADIR NUEVO PLATO ----------------------->

  <!--------------------- CATEGORIAS ----------------------->

  <div class="content_categorias">
    <h2 class="textoSecundario">CATEGORÍAS</h2>
    <div class="categoria">
      <p class="textoCuerpo">
        Categoría prueba: <input type="checkbox" checked="checked" />
      </p>
    </div>
    <div class="categoria">
      <p class="textoCuerpo">
        Categoría prueba: <input type="checkbox" checked="checked" />
      </p>
    </div>
    <div class="categoria">
      <p class="textoCuerpo">
        Categoría prueba: <input type="checkbox" checked="checked" />
      </p>
    </div>
    <div class="categoria">
      <p class="textoCuerpo">
        Categoría prueba: <input type="checkbox" checked="checked" />
      </p>
    </div>
    <div class="categoria">
      <p class="textoCuerpo">
        Categoría prueba: <input type="checkbox" checked="checked" />
      </p>
    </div>
    <div class="categoria">
      <p class="textoCuerpo">
        Categoría prueba: <input type="checkbox" checked="checked" />
      </p>
    </div>
    <div class="categoria">
      <p class="textoCuerpo">
        Categoría prueba: <input type="checkbox" checked="checked" />
      </p>
    </div>
    <div class="categoria">
      <p class="textoCuerpo">
        Categoría prueba: <input type="checkbox" checked="checked" />
      </p>
    </div>
  </div>
</div>

<!------------------------ FIN CATEGORIAS  ----------------------->

<!------------------------------- INICIO MESAS QR -------------------------------------->
<div id="mesas_qr" class="content" [hidden]="condicion != 'vista_mesas_qr'">
  <div class="lateral">
    <div class="imagen">
      <img src="https://picsum.photos/344/194" alt="menu_principal" />
    </div>
    <h2 class="textoSecundario">
      NOMBRE DEL RESTAURANTE
    </h2>

    <nav class="menu">
      <ul class="textoSecundario">
        <li>Menú</li>
        <li>Mesas - códigos QR</li>
        <li>Cerrar sesión</li>
      </ul>
    </nav>
    <div class="clearfix"></div>
  </div>

  <section id="content_section" class="nuevo_plato">
    <h2 class="textoPrimario">MESAS</h2>
    <div class="content_codigos_qr">
      <article>
        <img
          src="https://static-unitag.com/images/help/QRCode/qrcode.png?mh=07b7c2a2"
          alt="codigo"
        />
      </article>
      <article>
        <img
          src="https://static-unitag.com/images/help/QRCode/qrcode.png?mh=07b7c2a2"
          alt="codigo"
        />
      </article>
      <article>
        <img
          src="https://static-unitag.com/images/help/QRCode/qrcode.png?mh=07b7c2a2"
          alt="codigo"
        />
      </article>
      <article>
        <img
          src="https://static-unitag.com/images/help/QRCode/qrcode.png?mh=07b7c2a2"
          alt="codigo"
        />
      </article>
      <article>
        <img
          src="https://static-unitag.com/images/help/QRCode/qrcode.png?mh=07b7c2a2"
          alt="codigo"
        />
      </article>
    </div>
  </section>
</div>
<!--------------------- FIN MESAS QR ----------------------->

<!--------------------- PROCESANDO ORDEN ------------------->

<section class="content procesando" [hidden]="condicion != 'vista_procesando'">
  <div class="imagen">
    <img src="https://picsum.photos/344/194" alt="procesando" />
  </div>

  <h1 class="textoSecundario">
    Estamos procesando su orden, <br />
    en unos minutos será confirmada
  </h1>
  <div class="imagen boton-regresar">
    <input type="submit" class="btn-primary" value="REGRESAR AL MENÚ" />
  </div>
</section>

<!--------------------- FIN DE PROCESANDO ORDEN ------------------->

<!------------ VISTA DE PEDIDOS POR CONFIRMAR, EN CURSO Y FINALIZADOS --------->
<div class="content" [hidden]="condicion != 'menu_pedidos'">
  <div class="lateral">
    <div class="imagen">
      <img src="https://picsum.photos/344/194" alt="menu_principal" />
    </div>
    <h2 class="textoSecundario">
      NOMBRE DEL RESTAURANTE
    </h2>

    <nav class="menu">
      <ul class="textoSecundario">
        <li>Menú</li>
        <li>Mesas - códigos QR</li>
        <li>Cerrar sesión</li>
      </ul>
    </nav>
    <div class="clearfix"></div>
  </div>

  <!-- POR CONFIRMAR -->

  <div class="p-confirmar">
    <h1 class="textoSecundario">PEDIDOS POR CONFIRMAR</h1>
    <div class="info-pedido">
      <h2>Pedido N°34</h2>
      <p>Mesa 3</p>
      <p>$78500</p>
    </div>
    <div class="info-pedido">
      <h2>Pedido N°34</h2>
      <p>Mesa 3</p>
      <p>$78500</p>
    </div>
    <div class="info-pedido">
      <h2>Pedido N°34</h2>
      <p>Mesa 3</p>
      <p>$78500</p>
    </div>
    <div class="info-pedido">
      <h2>Pedido N°34</h2>
      <p>Mesa 3</p>
      <p>$78500</p>
    </div>
  </div>

  <div class="p-curso">
    <h1 class="textoSecundario">PEDIDOS EN CURSO</h1>
    <div class="info-pedido">
      <h2>Pedido N°34</h2>
      <p>Mesa 3</p>
      <p>$78500</p>
    </div>
  </div>

  <div class="p-finalizados">
    <h1 class="textoSecundario">PEDIDOS FINALIZADOS</h1>
    <div class="info-pedido">
      <h2>Pedido N°34</h2>
      <p>Mesa 3</p>
      <p>$78500</p>
    </div>
    <div class="info-pedido">
      <h2>Pedido N°34</h2>
      <p>Mesa 3</p>
      <p>$78500</p>
    </div>
    <div class="info-pedido">
      <h2>Pedido N°34</h2>
      <p>Mesa 3</p>
      <p>$78500</p>
    </div>
    <div class="info-pedido">
      <h2>Pedido N°34</h2>
      <p>Mesa 3</p>
      <p>$78500</p>
    </div>
    <div class="info-pedido">
      <h2>Pedido N°34</h2>
      <p>Mesa 3</p>
      <p>$78500</p>
    </div>
    <div class="info-pedido">
      <h2>Pedido N°34</h2>
      <p>Mesa 3</p>
      <p>$78500</p>
    </div>
    <!------------ FIN VISTA DE PEDIDOS POR CONFIRMAR, EN CURSO Y FINALIZADOS --------->
  </div>
</div>
