@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

$color-principal: #ff9200;
$color-secundario: #707070;
$color-terciario: #757575;
$color-ayuda: #BCBCBC;
$color-input: rgba(180, 180, 180, 0.2);

.input-group{
    padding: 10px;
}
input{
    background-color: $color-input;
    border-radius: 5px !important;
    border: none;
    color: $color-ayuda;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;

    &:hover {
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
          0 2px 10px 1px rgba(0, 0, 0, 0.13), 0 3px 12px 2px rgba(0, 0, 0, 0.1);
    }
}
button{
    border-color: white;

    &:hover {
        border-color: rgba(255, 255, 255, 0) !important;
        background-color: rgba(255, 255, 255, 0) !important;
        box-shadow: none !important;
      }
}