//Tamaño del contenedor principal
.content {
  width: 100%;
  height: auto;

  //Estilos de la barra lateral que contiene al menú
  &>.lateral {
    display: block;
    float: left;
    width: 25%;
    height: 1100px;
    padding: 4px;
    border: 1px solid #ccc;
    border-bottom: unset;

    // Tamaño de la imagen del menú
    .imagen {
      display: block;
      width: 100%;
      margin-bottom: 25px;

      &>img {
        display: block;
        width: 100%;
      }
    }

    // Estilos de los textos que contiene el menú
    &>.textoSecundario {
      font-size: 20px;
      text-align: center;
      margin-bottom: 80px;
    }

    // Estilo del menú de navegación
    .menu {
      display: block;
      width: 100%;
      margin-top: 4%;

      &>ul>li {
        display: block;
        font-size: 20px;
        text-decoration: none;
        line-height: 35px;
      }
    }
  }
}
