<div class="content" >
    <div class="lateral">
        <div class="imagen">
            <img src="https://picsum.photos/344/194" alt="menu_principal" />
        </div>
        <h2 class="textoSecundario">
            NOMBRE DEL RESTAURANTE
        </h2>

        <nav class="menu">
            <ul class="textoSecundario">
                <li>Menú</li>
                <li>Mesas - códigos QR</li>
                <li>Cerrar sesión</li>
            </ul>
        </nav>
        <div class="clearfix"></div>
    </div>
</div>