.content {
  display: block;
  width: 25%;
  margin: 20px auto;

  &>.volver {
    font-size: 30px;
    color: gray;
    background-color: transparent;
    border: unset;
    outline: unset;
  }

  &>.textoPrimario {
    text-align: center;
    margin-bottom: 50px;
  }

  &>.nota {
    margin: 35px 0px;

    &>textarea {
      width: 100%;
    }
  }

  &>.total {
    text-align: center;
    margin: 0px;
  }

  &>.btn-primary {
    display: block;
    width: 50%;
    margin: 20px auto;
  }
}

.card {
  display: block;
  width: 100%;
  height: 108px;
  margin: 0px auto;
  margin-bottom: 10px;
  border: 1px solid #ccc;

  &:hover {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 2px 10px 1px rgba(0, 0, 0, 0.13), 0 3px 12px 2px rgba(0, 0, 0, 0.1);
  }

  .imagen {
    display: block;
    float: left;
    width: 28%;

    &>img {
      width: 100%;
      height: auto;
    }
  }

  .cardb {
    display: flex;
    flex-direction: column;
    width: 72%;
    padding: 1% 1% 0% 2%;

    &>.eliminar {
      position: absolute;
      top: 6px;
      right: 10px;
      width: 25px;
      border-radius: 10px;
      border: unset;
      font-family: "Roboto";
      font-size: 15px;
      font-weight: bold;
      color: white;
      background-color: red;
      outline: unset;
    }

    &>.titulo.textoPrimario {
      color: black;
      font-size: 25px;
    }

    .precio-agregar {
      margin-top: auto;
      display: flex;
      justify-content: space-between;

      .precio {
        margin: unset;
      }
    }

    .btn-group.btn-group-toggle {
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 4px;
      margin-top: 4px;
      margin-bottom: auto;

      .btn.btn-secondary {
        height: 20px;
        color: black;
        background-color: white;
        border: none;

        p {
          margin-top: -8.7px;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

//-------------------------------------card-------------------------------------------------

@media (max-width: 1024px) {
  .content {
    width: 28%;

    &>.btn-primary {
      font-size: 17px;
      width: 60%;
    }
  }

  .card {
    display: block;
    width: 100%;
    height: 93px;
    margin: 0px auto;
    margin-bottom: 10px;
    border: 1px solid #ccc;

    &:hover {
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 2px 10px 1px rgba(0, 0, 0, 0.13), 0 3px 12px 2px rgba(0, 0, 0, 0.1);
    }

    .imagen {
      display: block;
      float: left;
      width: 28%;

      &>img {
        width: 100%;
        height: auto;
      }
    }

    .cardb {
      display: flex;
      flex-direction: column;
      width: 72%;
      padding: 1% 1% 0% 2%;

      &>.eliminar {
        font-size: 12px;
      }

      &>.titulo.textoPrimario {
        color: black;
        font-size: 22px;
      }

      .precio-agregar {
        margin-top: auto;
        display: flex;
        justify-content: space-between;

        .textoCuerpo {
          margin-top: -7px;
        }
      }

      .btn-group.btn-group-toggle {
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 4px;
        margin-top: -8px;
        margin-bottom: auto;
      }
    }
  }
}

@media (max-width: 768px) {
  .content {
    width: 37%;

    &>.textoPrimario {
      font-size: 28px;
    }

    &>.btn-primary {
      width: 68%;
      font-size: 18px;
    }

    &>.total>.textoPrimario {
      font-size: 26px;
    }
  }

  .card .imagen {
    display: block;
    float: left;
    width: 28%;

    &>img {
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 425px) {
  .content {
    width: 65%;
  }

  .card {
    height: 92px;

    &>.imagen {
      height: 90px;

      &>img {
        height: 90px;
      }
    }
  }
}

@media (max-width: 375px) {
  .content {
    width: 73%;
  }

  .card {
    height: 89px;

    &>.imagen {
      height: 87px;

      &>img {
        height: 87px;
      }
    }

    &>.cardb {
      padding: 0% 1% 0% 2%;
    }
  }
}

@media (max-width: 320px) {
  .content {
    width: 76%;

    &>.textoPrimario {
      font-size: 26px;
    }

    &>.btn-primary {
      width: 75%;
    }

    &>.total>.textoPrimario {
      font-size: 24px;
    }
  }
}

.card {
  height: 83px;

  &>.imagen {
    height: 80px;

    &>img {
      height: 80px;
    }
  }

  &>.cardb {
    padding: 0% 1% 0% 2%;

    &>.eliminar {
      font-size: 10px;
    }

    &>.titulo.textoPrimario {
      font-size: 17px;
    }
  }
}
