<div class="content" *ngIf="data_recibidos">
  <button class="volver" (click)="regresar()">❮</button>
  <h1 class="textoPrimario">PLATOS SELECCIONADOS</h1>

  <div [ngClass]="{'scroll': data_recibidos.length > 4}">
    <div class="card" *ngFor="let recibido of data_recibidos ; let index = index">
      <div class="imagen">
        <img src="{{recibido.imagen}}" alt="Imagen Descriptiva" />
      </div>
      <div class="cardb">
        <button class="eliminar" (click)="eliminar_plato(index)">−</button>
        <h1 class="titulo textoPrimario">{{recibido.nombre}}</h1>
        <p class="des" class="textoCuerpo">{{recibido.descripcion}} </p>
        <div class="precio-agregar">
          <span class="precio" class="textoCuerpo">${{recibido.precio}}</span>
          <div class="btn-group btn-group-toggle">
            <label class="restar" class="btn btn-secondary" 
            (click)=" data_recibidos[index].cantidad >= 2 ? data_recibidos[index].cantidad = data_recibidos[index].cantidad - 1 : ''; cambiar_precio_total(index,'restar')">
              <p>-</p>
            </label>
            <label id="contador" class="btn btn-secondary">
              <p>{{ data_recibidos[index].cantidad}}</p>
            </label>
            <label class="sumar" class="btn btn-secondary" (click)="data_recibidos[index].cantidad = data_recibidos[index].cantidad + 1; cambiar_precio_total(index,'sumar')">
              <p>+</p>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nota">
    <textarea class="textoCuerpo" placeholder="Agregar nota para el cocinero"></textarea>
  </div>

  <div class="total">
    <h1 class="textoPrimario" >TOTAL: ${{precio_total}}</h1>
  </div>

  <button type="submit" class="btn-primary">Confirmar Pedido</button>
</div>