<div class="content">
  <button class="btn-primary">VER CATEGORÍAS</button>
  <br />
  <div class="p-recomendados">
    <h1 class="textoSecundario">Platos recomendados</h1>
    <div class="img-recomendados">
      <img src="https://picsum.photos/80/80" alt="img" />
      <img src="https://picsum.photos/80/80" alt="img" />
      <img src="https://picsum.photos/80/80" alt="img" />
      <img src="https://picsum.photos/80/80" style="margin-right: 0px" alt="img" />
    </div>
    <h1 class="textoSecundario">Menú del restaurante</h1>
  </div>

  <div class="card">
    <div class="imagen">
      <img src="https://picsum.photos/115/128" alt="Imagen Descriptiva" />
    </div>
    <div class="cardb">
      <button class="eliminar">✓</button>
      <h1 class="titulo textoPrimario">Plato prueba</h1>
      <p class="des" class="textoCuerpo">Descripción del plato</p>
      <div class="precio-agregar">
        <p class="precio" class="textoCuerpo">$32.000</p>
        <div class="btn-group btn-group-toggle">
          <label class="restar" class="btn btn-secondary" (click)="contador(false)">
            <p>-</p>
          </label>
          <label id="contador" class="btn btn-secondary">
            <p>{{ con }}</p>
          </label>
          <label class="sumar" class="btn btn-secondary" (click)="contador(true)">
            <p>+</p>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="imagen">
      <img src="https://picsum.photos/115/128" alt="Imagen Descriptiva" />
    </div>
    <div class="cardb">
      <button class="eliminar">✓</button>
      <h1 class="titulo textoPrimario">Plato prueba</h1>
      <p class="des" class="textoCuerpo">Descripción del plato</p>
      <div class="precio-agregar">
        <p class="precio" class="textoCuerpo">$32.000</p>
        <div class="btn-group btn-group-toggle">
          <label class="restar" class="btn btn-secondary" (click)="contador(false)">
            <p>-</p>
          </label>
          <label id="contador" class="btn btn-secondary">
            <p>{{ con }}</p>
          </label>
          <label class="sumar" class="btn btn-secondary" (click)="contador(true)">
            <p>+</p>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="imagen">
      <img src="https://picsum.photos/115/128" alt="Imagen Descriptiva" />
    </div>
    <div class="cardb">
      <button class="eliminar">✓</button>
      <h1 class="titulo textoPrimario">Plato prueba</h1>
      <p class="des" class="textoCuerpo">Descripción del plato</p>
      <div class="precio-agregar">
        <p class="precio" class="textoCuerpo">$32.000</p>
        <div class="btn-group btn-group-toggle">
          <label class="restar" class="btn btn-secondary" (click)="contador(false)">
            <p>-</p>
          </label>
          <label id="contador" class="btn btn-secondary">
            <p>{{ con }}</p>
          </label>
          <label class="sumar" class="btn btn-secondary" (click)="contador(true)">
            <p>+</p>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
