<div class="content" *ngIf="data_activos">
  <button class="btn-primary" (click)="select_categorias()">VER CATEGORÍAS</button>
  <br />
 
  <div class="p-recomendados">
    <h1 class="textoSecundario">Platos recomendados</h1>
    <div class="img-recomendados">
      <img src="https://picsum.photos/80/80" alt="img" />
      <img src="https://picsum.photos/80/80" alt="img" />
      <img src="https://picsum.photos/80/80" alt="img" />
      <img src="https://picsum.photos/80/80" style="margin-right: 0px" alt="img" />
    </div>
    <h1 class="textoSecundario">Menú del restaurante</h1>
  </div>

  <div [ngClass]="{'scroll': data_activos.length > 4}" >
    <div class="card" *ngFor="let activos of data_activos ; let index = index">
      <div class="imagen">
        <img src="{{activos.imagen}}" alt="Imagen Descriptiva" />
      </div>
      <div class="cardb">
        <h1 class="titulo textoPrimario">{{activos.nombre}}</h1>
  
        <div class="des-precio">
          <p class="des" class="textoCuerpo">{{activos.descripcion}}</p>
          <span class="precio" class="textoCuerpo">${{activos.precio}}</span>
        </div>
      </div>
    </div>
  </div>
</div>