.content {
  display: block;
  width: 25%;
  margin: 20px auto;

  & > .p-recomendados {
    display: block;
    width: 100%;
    padding: 2px;
    margin-top: 40px;

    & > .textoSecundario {
      font-size: 17px;
    }

    & > .img-recomendados img {
      width: 24%;
      margin-right: 7px;
      margin-bottom: 20px;
    }
  }
}

//-------------------------------------card-------------------------------------------------
.card {
  display: block;
  width: 100%;
  height: 108px;
  margin: 0px auto;
  margin-bottom: 10px;
  border: 1px solid #ccc;

  &:hover {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 2px 10px 1px rgba(0, 0, 0, 0.13), 0 3px 12px 2px rgba(0, 0, 0, 0.1);
  }

  .imagen {
    display: block;
    float: left;
    width: 28%;

    & > img {
      width: 100%;
      height: auto;
    }
  }
  .cardb {
    display: flex;
    flex-direction: column;
    width: 72%;
    padding: 1% 1% 0% 2%;

    & > .informacion {
      position: absolute;
      top: 6px;
      right: 10px;
      width: 25px;
      border-radius: 10px;
      border: unset;
      font-family: "Roboto";
      font-size: 15px;
      font-weight: bold;
      color: white;
      background-color: orange;
      outline: unset;
    }

    & > .titulo.textoPrimario {
      color: black;
      font-size: 25px;
    }

    .des-precio {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & > .textoCuerpo {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom: 10px;
      }
    }

    .btn-group.btn-group-toggle {
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 4px;
      margin-top: 4px;
      margin-bottom: auto;

      .btn.btn-secondary {
        height: 20px;
        color: black;
        background-color: white;
        border: none;
        p {
          margin-top: -8.7px;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
//-------------------------------------card-------------------------------------------------

.scroll {
  height: 585px;
  max-height: 585px;
  overflow-y: scroll;


  &::-webkit-scrollbar {
      width: 10px;
      margin-left:2px;
    }
  &::-webkit-scrollbar-thumb{
      background: var(--color-secundario); 
      border-radius: 5px;
  }

  &::-webkit-scrollbar-track{
      box-shadow: inset 0 0 5px grey; 
      border-radius: 5px;
  }
}
@media (max-width: 768px) {
  .content {
    width: 90%;

    & > .btn-primary {
      font-size: 21px;
    }

    & > .p-recomendados {
      &.img-recomendados img {
        width: 20%;
        margin-right: 0px;
        margin-bottom: 20px;
      }

      & > .textoSecundario {
        font-size: 34px;
      }
    }
  }

  .card {
    height: 185px;
    & > .imagen {
      height: 185px;
      & > img {
        height: 183px;
      }
    }
    & > .cardb {
      padding: 4% 1% 0% 2%;
    }
  }
}

@media (max-width: 425px) {
  .content {
    width: 90%;

    & > .btn-primary {
      font-size: 16px;
    }

    & > .p-recomendados {
      & > .img-recomendados > img {
        margin-right: 3px;
      }
      & > .textoSecundario {
        font-size: 25px;
      }
    }
  }
  .card {
    height: 116px;
    & > .imagen {
      height: 116px;
      & > img {
        height: 114px;
      }
    }
  
    & > .cardb {
      padding: 4% 1% 0% 2%;
      .titulo.textoPrimario {
        font-size: 21px;
      }
    }
  }
}


@media (max-width: 375px) {
  .content {
    width: 93%;
    
    & > .p-recomendados {
      width: 98%;
    }

    &>div>.card {
      height: 115px;
      & > .imagen {
        height: 113px;
        & > img {
          width: 111px;
          height: 111px;
        }
      }
      & > .cardb {
        padding: 4% 1% 0% 10%;
      }
    }
  }
}

@media (max-width: 320px) {
  .content {
    width: 93%;

    & > .btn-primary {
      font-size: 18px;
    }

    & > .p-recomendados {
      width: 98%;

      & > .img-recomendados img {
        width: 24%;
      }
    }

    .card {
      height: 105px;
      & > .imagen {
        height: 102px;
        & > img {
          height: 102px;
        }
      }
      & > .cardb {
        padding: 4% 1% 0% 15% !important;

        & > .informacion {
          font-size: 10px;
        }
        & > .titulo.textoPrimario {
          font-size: 17px;
        }
      }
    }
  }
}
