<div class="content">
  <button class="btn-primary">VER CATEGORÍAS</button>
  <br />
  <div class="p-recomendados">
    <h1 class="textoSecundario">Platos recomendados</h1>
    <div class="img-recomendados">
      <img src="https://picsum.photos/82/82" alt="img" />
      <img src="https://picsum.photos/82/82" alt="img" />
      <img src="https://picsum.photos/82/82" alt="img" />
      <img src="https://picsum.photos/82/82" alt="img" />
    </div>
    <div class="menu-restaurante">
      <h1 class="textoSecundario">Menú del restaurante</h1>
    </div>
  </div>
</div>
