.content {
  display: block;
  width: 100%;
  height: 600px;
  text-align: center;
  margin: 20px auto;
  //Imagen
  .img-principal {
    width: 100%;
    margin-bottom: 35px;
  }
  //Botones
  .btn-login {
    margin-top: 150px;
  }

  #primer-boton,
  #segundo-boton {
    margin-bottom: 46px;

    .btn-primary {
      width: 19%;
      height: 33px;
    }
  }

  //Inputs
  .content-inputs {
    display: block;
    margin-top: 40px;
    color: #ff9200;
    font-family: "Roboto";
    font-weight: 200;

    //box-user, password y submit

    #box-inputs{
      display: block;
      text-align: center;;
      margin-bottom: 20px;
    }
    .box-submit {
      display: block;
      margin-top: 40px;
    }

    input[type="text"],
    input[type="password"] {
      width: 22%;
      height: 48px;
      padding: 7px 8px;
      border: none;
      border-radius: 4px 4px 0px 0px;
      transition: all 0.5ms;
    }

    input[type="submit"] {
      height: 40px;
      margin-bottom: 30px;
    }
    //Agregar iconos

    input[type="text"] {
      background: url("src/imagenes/usuario.svg") 5px no-repeat;
      background-position: 97%;
      background-color: rgba(180, 180, 180, 0.09);
      margin-bottom: 20px;
    }

    input[type="password"] {
      background: url("src/imagenes/password.svg") 8px no-repeat;
      background-position: 97%;
      fill: red;
      background-color: rgba(180, 180, 180, 0.09);
    }

    //Efectos
    input[type="text"],
    input[type="password"] {
      &:focus {
        outline: none;
        border:transparent;
        background-color: rgba(180, 180, 180, 0.12);
        border-bottom: 2px solid #ff9200;
        caret-color:  #ff9200;
      }
    }
  }

  //Registro
  .pedir_datos {
    margin-bottom: 25px;
    font-family: "Roboto";
    font-weight: 300;
  }
  ::-webkit-input-placeholder {
    color: rgba(97, 94, 94, 0.8);
    font-weight: 100;
    border: none;
  }

  #RadioButton {
    font-family: "Roboto";
    font-size: 15px;
    text-align: center;
    color: #707070;

    .r_button {
      margin-top: 5px;
      margin-right: 6px;
      padding: 2px;
    }
  }
  .registro {
    margin-top: 30px;
    height: 40px;
  }
}
