<div class="content">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Buscar plato">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 3l-.743 2h-1.929l-3.474 12h-13.239l-4.615-11h16.812l-.564 2h-13.24l2.937 7h10.428l3.432-12h4.195zm-15.5 15c-.828 0-1.5.672-1.5 1.5 0 .829.672 1.5 1.5 1.5s1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm6.9-7-1.9 7c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5z"/></svg></button>
    </div>
  </div>
  <a href="#" id="btn-regresar" class="btn btn-primary">REGRESAR</a>
  <div id="descripcion">
    <div class="card">
      <img class="card-img-top" src="https://picsum.photos/600/300" alt="Imagen demostrativa">
      <div class="card-body">
        <h2 id="titulo" class="textoPrimario">Plato prueba</h2>
        <div id="des-plato">
          <h5 class="textoCuerpo">Descripción del plato:</h5>
          <ul class="textoCuerpo">
            <li class="desc">hola</li>
          </ul>
          <p class="textoCuerpo">valor del plato:<br> $30.000</p>
        </div>
        <div id="btn-a-p">
          <div class="btn-group btn-group-toggle" >
            <label id="restar" class="btn btn-secondary" (click)="contador(false)"> 
              <p>-</p>
            </label>
            <label id="contador" class="btn btn-secondary">{{con}}</label>
            <label id="sumar" class="btn btn-secondary" (click)="contador(true)">
              <p>+</p>
            </label>
          </div>
          <a href="#" id="regresar" class="btn btn-primary">AGREGAR PLATO</a>
        </div>
      </div>
    </div>
  </div>
</div>  