.content{
    display: block;
    width: 375px;
    height: 812px;
    margin-left: auto;
    margin-right: auto;
//-------------------------------------buscador-------------------------------------------------
    .input-group{
        padding: 10px;
        margin-bottom: unset !important;

        .form-control{
            background-color: var(--color-input) !important;
            border-radius: 5px !important;
            border: none;
            height: 50px;
            // icono
            background: url(src/iconos/lupa.svg) no-repeat;
            background-position: 95%;
            // texto
            text-decoration-line: none !important;
            color: var(--color-secundario);
            font-size: 14px;
            font-family: "Roboto", sans-serif;
            font-weight: 200;
            // texto

            &:hover {
                box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 2px 10px 1px rgba(0, 0, 0, 0.13), 0 3px 12px 2px rgba(0, 0, 0, 0.1);
            }
        }
        button{
            border-color: rgba(255, 255, 255, 0);
            &:hover {
                border-color: rgba(255, 255, 255, 0) !important;
                background-color: rgba(255, 255, 255, 0) !important;
                box-shadow: unset;
            }
        }

    }        
//-------------------------------------buscador-------------------------------------------------
//-------------------------------------boton-------------------------------------------------
    #btn-regresar{
        margin-left: 10px;
        margin-right: auto;
        margin-bottom: 25px;
    }
//-------------------------------------boton-------------------------------------------------
//-------------------------------------lista-descripcion-------------------------------------------------

    .card{
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        border: none;

        #titulo{
            text-align: center;
            margin-bottom: 50px;
        }
        #btn-a-p{
            display: flex;
            flex-direction: column;            
            margin-top: 50px;
            text-align: center !important;

            .btn-group.btn-group-toggle {
                border: 1px solid rgba(0,0,0,.125);
                border-radius: 4px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 20px;
                
                .btn.btn-secondary {
                    height: 20px;
                    color: black;
                    background-color: white;
                    border: none;
                  p {
                    margin-top: -8.7px;
                    margin-bottom: 1rem;
                  }
                }
            }
            #regresar{
                margin-left: auto;
                margin-right: auto;
            }

        }
        .card-body{ 

            #des-plato{
                padding-left: 40px;
            }
            //LISTA
            ul{
                list-style: none;
                padding: 0;
                li::before {
                    content: "\2D"; 
                    padding-right: 8px;
                    color:  var(--color-secundario);
                }
            }
        }
    }
    
//-------------------------------------lista-descripcion-------------------------------------------------
}
