<!-- <div class="content">
  <div id="descripcion">
    <div class="card">
      <img class="card-img-top" src="https://picsum.photos/600/300" alt="Imagen demostrativa">
      <div class="card-body">
        <h2 id="titulo" class="textoPrimario">Plato prueba</h2>
        <div id="des-plato">
          <h5 class="textoCuerpo">Descripción del plato:</h5>
          <ul class="textoCuerpo">
            <li class="desc">hola</li>
          </ul>
          <p class="textoCuerpo">valor del plato:<br> $30.000</p>
        </div>
        <div id="btn-a-p">
          <div class="btn-group btn-group-toggle">
            <label id="restar" class="btn btn-secondary" (click)="contador(false)">
              <p>-</p>
            </label>
            <label id="contador" class="btn btn-secondary">
              <p>{{con}}</p>
            </label>
            <label id="sumar" class="btn btn-secondary" (click)="contador(true)">
              <p>+</p>
            </label>
          </div>
          <a href="#" id="regresar" class="btn btn-primary">AGREGAR PLATO</a>
        </div>
      </div>
    </div>
  </div>
</div>
 -->