<div class="content">
<app-menu-principal></app-menu-principal>
    <div class="p-confirmar">
        <h1 class="textoSecundario">PEDIDOS POR CONFIRMAR</h1>
        <div class="info-pedido">
            <h2>Pedido N°34</h2>
            <p>Mesa 3</p>
            <p>$78500</p>
        </div>
        <div class="info-pedido">
            <h2>Pedido N°34</h2>
            <p>Mesa 3</p>
            <p>$78500</p>
        </div>
        <div class="info-pedido">
            <h2>Pedido N°34</h2>
            <p>Mesa 3</p>
            <p>$78500</p>
        </div>
        <div class="info-pedido">
            <h2>Pedido N°34</h2>
            <p>Mesa 3</p>
            <p>$78500</p>
        </div>
    </div>

    <div class="p-curso">
        <h1 class="textoSecundario">PEDIDOS EN CURSO</h1>
        <div class="info-pedido">
            <h2>Pedido N°34</h2>
            <p>Mesa 3</p>
            <p>$78500</p>
        </div>
    </div>

    <div class="p-finalizados">
        <h1 class="textoSecundario">PEDIDOS FINALIZADOS</h1>
        <div class="info-pedido">
            <h2>Pedido N°34</h2>
            <p>Mesa 3</p>
            <p>$78500</p>
        </div>
        <div class="info-pedido">
            <h2>Pedido N°34</h2>
            <p>Mesa 3</p>
            <p>$78500</p>
        </div>
        <div class="info-pedido">
            <h2>Pedido N°34</h2>
            <p>Mesa 3</p>
            <p>$78500</p>
        </div>
        <div class="info-pedido">
            <h2>Pedido N°34</h2>
            <p>Mesa 3</p>
            <p>$78500</p>
        </div>
        <div class="info-pedido">
            <h2>Pedido N°34</h2>
            <p>Mesa 3</p>
            <p>$78500</p>
        </div>
        <div class="info-pedido">
            <h2>Pedido N°34</h2>
            <p>Mesa 3</p>
            <p>$78500</p>
        </div>
    </div>
</div>