// Importar el ícono 
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset,
label {
  margin: -3px;
  padding: 0;
}

// Estilos al contenedor principal
.content {
  width: 100%;
  height: auto;

  // Estilo a los estados de los pedidos
  .p-confirmar,
  .p-curso,
  .p-finalizados {
    display: block;
    width: 25%;
    float: left;
    padding: 2% 0% 2% 2%;

    &>.textoSecundario {
      font-size: 23px;
      margin-right: 20px;
      margin-bottom: 25px;
    }

    &>div>.info-pedido {
      display: block;
      width: 80%;
      padding: 2px 0px 2px 10px;
      margin-bottom: 25px;
      margin-left: 3px;
      margin-top: 1px;
      background-color: white;
      box-shadow: 0px 0px 3px #ccc;
      cursor: pointer;
    }
  }

  // Información del pedido

  &>.info .informacion {
    padding-top: 2%;
    padding-left: 30%;

    &>.volver {
      width: 2%;
      font-size: 30px;
      color: gray;
      background-color: transparent;
      border: unset;
      outline: unset;
    }

    &>.textoPrimario {
      margin-left: 34px;
      margin-top: -41px;
      margin-bottom: 15px;
      color: var(--color-principal);
    }

    &>.textoSecundario {
      font-size: 20px;
      margin-bottom: 10px;
    }

    &>.inf.textoSecundario {
      font-size: 32px;
    }

    // Estilos al icono de la estrella
    &>.rating {
      border: none;
      float: left;
    }

    .rating>input {
      display: none;
    }

    .rating>label:before {
      margin: 5px;
      font-size: 1.25em;
      font-family: FontAwesome;
      display: inline-block;
      content: "\f005";
    }

    .rating>label {
      color: #ddd;
      float: right;
    }

    .rating>input:checked~label,
    /* show gold star when clicked */
    .rating:not(:checked)>label:hover,
    /* hover current star */
    .rating:not(:checked)>label:hover~label {
      color: #ff9200;
    }

    /* hover previous stars in list */

    .rating>input:checked+label:hover,
    /* hover current star when changing rating */
    .rating>input:checked~label:hover,
    .rating>label:hover~input:checked~label,
    /* lighten current selection */
    .rating>input:checked~label:hover~label {
      color: #FFC77B;
    }


    // Estilo al contenido de la tabla 
    &>.platos_pedido {
      margin-top: 70px;

      &>.textoPrimario {
        font-size: 25px;
        margin-bottom: 10px;
      }

      &>.btn-primary {
        margin-left: 10px;
      }

      &>.table {
        width: 90%;
      }

      .table th {
        border-top: unset;
      }

      .table td {
        border-bottom: 1px solid #dee2e6;
      }
    }
  }
}

// Scroll para ver los pedidos
.scroll {
  height: 740px;
  max-height: 740px;
  overflow-y: scroll;


  &::-webkit-scrollbar {
    width: 20px;
    margin-left: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-secundario);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
}


// Responsives

@media (max-width: 1024px) {
  .content {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .content {
    width: 40%;
  }
}

@media (max-width: 425px) {
  .content {
    width: 70%;
  }
}

@media (max-width: 375px) {
  .content {
    width: 80%;
  }
}

@media (max-width: 320px) {
  .content {
    width: 86%;
  }
}
