<div class="content">

  <div class="p-confirmar" hidden>
    <h1 class="textoSecundario">PEDIDOS POR CONFIRMAR</h1>
    <div class="info-pedido">
      <h2>Pedido N°34</h2>
      <p>Mesa 3</p>
      <p>$78500</p>
    </div>
    <div class="info-pedido">
      <h2>Pedido N°34</h2>
      <p>Mesa 3</p>
      <p>$78500</p>
    </div>
    <div class="info-pedido">
      <h2>Pedido N°34</h2>
      <p>Mesa 3</p>
      <p>$78500</p>
    </div>
    <div class="info-pedido">
      <h2>Pedido N°34</h2>
      <p>Mesa 3</p>
      <p>$78500</p>
    </div>
  </div>

  <div class="p-curso" hidden>
    <h1 class="textoSecundario">PEDIDOS EN CURSO</h1>
    <div class="info-pedido">
      <h2>Pedido N°34</h2>
      <p>Mesa 3</p>
      <p>$78500</p>
    </div>
  </div>

  <div class="p-finalizados" hidden>
    <h1 class="textoSecundario">PEDIDOS FINALIZADOS</h1>
    <div class="info-pedido">
      <h2>Pedido N°34</h2>
      <p>Mesa 3</p>
      <p>$78500</p>
    </div>
    <div class="info-pedido">
      <h2>Pedido N°34</h2>
      <p>Mesa 3</p>
      <p>$78500</p>
    </div>
    <div class="info-pedido">
      <h2>Pedido N°34</h2>
      <p>Mesa 3</p>
      <p>$78500</p>
    </div>
    <div class="info-pedido">
      <h2>Pedido N°34</h2>
      <p>Mesa 3</p>
      <p>$78500</p>
    </div>
    <div class="info-pedido">
      <h2>Pedido N°34</h2>
      <p>Mesa 3</p>
      <p>$78500</p>
    </div>
    <div class="info-pedido">
      <h2>Pedido N°34</h2>
      <p>Mesa 3</p>
      <p>$78500</p>
    </div>
  </div>


  <!-- INFORMACIÓN DEL PEDIDO -->

  <div class="content info">
    <div class="informacion">
      <h1 class="textoPrimario">INFORMACIÓN DEL PEDIDO</h1>
      <h2 class="textoSecundario">ID del pedido: 35</h2>
      <h2 class="textoSecundario">Mesa: 4</h2>
      <h2 class="textoSecundario">Precio del pedido: $108000</h2>

      <div class="platos_pedido">
        <h1 class="textoPrimario">PLATOS DEL PEDIDO</h1>

        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Nombre del plato</th>
              <th scope="col">Precio</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Plato prueba 1</td>
              <td>$35000</td>
              <td>2</td>
              <td>$70000</td>
            </tr>
            <tr>
              <td>Plato prueba 2</td>
              <td>$12000</td>
              <td>1</td>
              <td>$12000</td>
            </tr>
            <tr>
              <td>Plato prueba 3</td>
              <td>$6500</td>
              <td>4</td>
              <td>$26000</td>
            </tr>
          </tbody>
        </table>
        <input type="submit" class="btn-primary" value="CONFIRMAR PEDIDO">
      </div>
    </div>
  </div>

</div>
