  <div class="content">
    <button class="btn-primary">MENÚ COMPLETO</button>
    <br />
    <div class="p-recomendados pollos">
      <h1 class="textoSecundario">Pollos > </h1>
      <div class="img-recomendados">
        <img src="https://picsum.photos/80/80" alt="img" />
        <img src="https://picsum.photos/80/80" alt="img" />
        <img src="https://picsum.photos/80/80" alt="img" />
        <img src="https://picsum.photos/80/80" style="margin-right: 0px" alt="img" />
      </div>
    </div>
    <div class="p-recomendados carnes">
      <h1 class="textoSecundario">Carnes > </h1>
      <div class="img-recomendados">
        <img src="https://picsum.photos/80/80" alt="img" />
        <img src="https://picsum.photos/80/80" alt="img" />
        <img src="https://picsum.photos/80/80" alt="img" />
        <img src="https://picsum.photos/80/80" style="margin-right: 0px" alt="img" />
      </div>
    </div>
    <div class="p-recomendados bebidas">
      <h1 class="textoSecundario">Bebidas > </h1>
      <div class="img-recomendados">
        <img src="https://picsum.photos/80/80" alt="img" />
        <img src="https://picsum.photos/80/80" alt="img" />
        <img src="https://picsum.photos/80/80" alt="img" />
        <img src="https://picsum.photos/80/80" style="margin-right: 0px" alt="img" />
      </div>
    </div>
    <div class="p-recomendados arroces">
      <h1 class="textoSecundario">Arroces > </h1>
      <div class="img-recomendados">
        <img src="https://picsum.photos/80/80" alt="img" />
        <img src="https://picsum.photos/80/80" alt="img" />
        <img src="https://picsum.photos/80/80" alt="img" />
        <img src="https://picsum.photos/80/80" style="margin-right: 0px" alt="img" />
      </div>
    </div>
  </div>
