<!-- Contenedor principal -->
<div class="content">
  <button class="btn-primary" (click)="regresar_menu()">MENÚ COMPLETO</button>
  <br />

  <!-- Contenedor de bebidas -->
  <div class="p-recomendados bebidas" *ngIf="data_bebidas.length > 0" (click)="seleccion('bebidas')">
    <h1 class="textoSecundario">Bebidas > </h1>
    <div class="img-recomendados">
      <img src="{{i.imagen}}" alt="img" *ngFor="let i of data_bebidas" />
    </div>
  </div>
  <!-- Contenedor de almuerzos -->
  <div class="p-recomendados almuerzos" *ngIf="data_almuerzos.length > 0" (click)="seleccion('almuerzos')">
    <h1 class="textoSecundario">Almuerzos > </h1>
    <div class="img-recomendados">
      <img src="{{i.imagen}}" alt="img" *ngFor="let i of data_almuerzos" />
    </div>
  </div>
  <!-- Contenedor de arroces -->
  <div class="p-recomendados arroz" *ngIf="data_arroces.length > 0" (click)="seleccion('arroces')">
    <h1 class="textoSecundario">Arroces > </h1>
    <div class="img-recomendados">
      <img src="{{i.imagen}}" alt="img" *ngFor="let i of data_arroces" />
    </div>
  </div>
  <!-- Contenedor de carnes -->
  <div class="p-recomendados carnes" *ngIf="data_carnes.length > 0" (click)="seleccion('carnes')">
    <h1 class="textoSecundario">Carnes > </h1>
    <div class="img-recomendados">
      <img src="{{i.imagen}}" alt="img" *ngFor="let i of data_carnes" />
    </div>
  </div>
  <!-- Contenedor de asados -->
  <div class="p-recomendados asados" *ngIf="data_asados.length > 0" (click)="seleccion('asados')">
    <h1 class="textoSecundario">Asados > </h1>
    <div class="img-recomendados">
      <img src="{{i.imagen}}" alt="img" *ngFor="let i of data_asados" />
    </div>
  </div>
  <!-- Contenedor de pollos -->
  <div class="p-recomendados pollos" *ngIf="data_pollos.length > 0" (click)="seleccion('pollos')">
    <h1 class="textoSecundario">Pollos > </h1>
    <div class="img-recomendados">
      <img src="{{i.imagen}}" alt="img" *ngFor="let i of data_pollos" />
    </div>
  </div>
  <!-- Contenedor de sopas -->
  <div class="p-recomendados sopas" *ngIf="data_sopas.length > 0" (click)="seleccion('sopas')">
    <h1 class="textoSecundario">Sopas > </h1>
    <div class="img-recomendados">
      <img src="{{i.imagen}}" alt="img" *ngFor="let i of data_sopas" />
    </div>
  </div>
</div>
