<!-- Este es el contenedor principal -->
<div id="mesas_qr" class="content">
  <!-- Esta sección contiene a los códigos QR -->
  <section id="content_section" class="nuevo_plato">
    <h2 class="textoPrimario">MESAS</h2>
    <!-- En cada artículo están las imágenes de los códigos QR -->
    <div class="content_codigos_qr">
      <article>
        <img src="https://static-unitag.com/images/help/QRCode/qrcode.png?mh=07b7c2a2" alt="codigo" />
      </article>
      <article>
        <img src="https://static-unitag.com/images/help/QRCode/qrcode.png?mh=07b7c2a2" alt="codigo" />
      </article>
      <article>
        <img src="https://static-unitag.com/images/help/QRCode/qrcode.png?mh=07b7c2a2" alt="codigo" />
      </article>
      <article>
        <img src="https://static-unitag.com/images/help/QRCode/qrcode.png?mh=07b7c2a2" alt="codigo" />
      </article>
      <article>
        <img src="https://static-unitag.com/images/help/QRCode/qrcode.png?mh=07b7c2a2" alt="codigo" />
      </article>
    </div>
  </section>
</div>