<!-- Este es el contenedor principal -->
<div id="mesas_qr" class="content">
  <!-- Esta sección contiene a los códigos QR -->
  <section id="content_section" class="nuevo_plato">
    <h2 class="textoPrimario">MESAS</h2>
    <!-- En cada artículo están las imágenes de los códigos QR -->
    <div class="content_codigos_qr">
      <article>
        <img src="https://www.codigos-qr.com/qr/php/qr_img.php?d=http%3A%2F%2F192.168.0.6%3A4200%2Flogin%2F1&s=6&e=m" alt="codigo" />
      </article>
      <article>
        <img src="https://www.codigos-qr.com/qr/php/qr_img.php?d=http%3A%2F%2F192.168.0.6%3A4200%2Flogin%2F2&s=6&e=m" alt="codigo" />
      </article>
      <article>
        <img src="https://www.codigos-qr.com/qr/php/qr_img.php?d=http%3A%2F%2F192.168.0.6%3A4200%2Flogin%2F3&s=6&e=m" alt="codigo" />
      </article>
      <article>
        <img src="https://www.codigos-qr.com/qr/php/qr_img.php?d=http%3A%2F%2F192.168.0.6%3A4200%2Flogin%2F4&s=6&e=m" alt="codigo" />
      </article>
      <article>
        <img src="https://www.codigos-qr.com/qr/php/qr_img.php?d=http%3A%2F%2F192.168.0.6%3A4200%2Flogin%2F5&s=6&e=m" alt="codigo" />
      </article>
    </div>
  </section>
</div>